.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 10%;
}


.about__me{
    position:sticky;
    left: 100px;
    width: 80%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(
        45deg, transparent, var(--color-primary-variant), transparent
    );
    display: grid;
    place-items: center;
    transition: var(--transistion);
}


/* .about-image{
    width: 25rem;
    height: 25rem;
} */

.about__me-image{
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transistion2);
}

.about__me-image:hover{
    transform: rotate(0);

}

.about__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about__Card{
    font-weight: 200;
    background: #252525;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
    transition: var(--transistion);
}

.about__Card:hover{
    background: transparent;
    color: white;
    font-weight: 200;
    .about-icon{
        color: var(--color-secondary);
    }
}

.about-icon{
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__Card h5 {
    font-size: 0.96rem;
}

.about__content p{
    margin: 2rem 0 2.6rem;
    color: #d8d5d5;
}


/* meduim size devices */

@media screen and (max-width: 1024px){
    .about__container{
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me{
        width: 50%;
        margin: 2rem auto 4rem;
    }

    .about__content p {
        margin: 1rem 0 1.5rem;
    }
}

/* small devices */
@media screen and (max-width: 600px){
    .about__me{
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards{
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content{
        text-align: center;
    }

    .about__content p {
        margin: 1.5rem 0;
    }
}
